---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stirling-pdf
spec:
  chartRef:
    kind: OCIRepository
    name: *app
    namespace: utilities
  interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  timeout: 5m
  driftDetection:
    mode: enabled
    ignore:
      - paths:
          - /spec/containers/resources/limits
        target:
          kind: Pod
  values:
    controllers:
      stirling-pdf:
        strategy: Recreate
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/stirling-tools/stirling-pdf
              tag: 2.1.0@sha256:56dd735b7b59ca4fe69266f6f1933cd4e1c203ac46f0886845c4d5fc1bc65cf1
            env:
              TZ: "Europe/Amsterdam"
              MODE: BOTH
              DOCKER_ENABLE_SECURITY: "false"
              METRICS_ENABLED: "false"
              DISABLE_ADDITIONAL_FEATURES: "false"
              SYSTEM_ENABLEANALYTICS: "false"
              SYSTEM_GOOGLEVISIBILITY: "false"
              INSTALL_BOOK_AND_ADVANCED_HTML_OPS: "true"
              SYSTEM_DATASOURCE_TYPE: "postgresql"
              SYSTEM_DATASOURCE_HOSTNAME: "${POSTGRES_HOST}"
              SYSTEM_DATASOURCE_PORT: "${POSTGRES_PORT}"
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 100m
                memory: 256M
              limits:
                memory: 2Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080
    route:
      app:
        hostnames:
          - "pdf.${SECRET_DOMAIN}"
        parentRefs:
          - name: external
            namespace: network
            sectionName: https
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - identifier: app
                port: 8080

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /configs
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /logs
            subPath: logs
          - path: /pipeline
            subPath: pipeline
          - path: /usr/share/tessdata
            subPath: tessdata
          - path: /tmp
            subPath: tmp