---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellyfin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      jellyfin:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/jellyfin/jellyfin
              tag: 10.11.6@sha256:25db4eb10143c1c12adb79ed978e31d94fc98dc499fbae2d38b2c935089ced3e
            env:
              TZ: Europe/Amsterdam
              JELLYFIN_PublishedServerUrl: http://${CLUSTER_JELLYFIN_IP}:8096
              DOTNET_SYSTEM_IO_DISABLEFILELOCKING: "true"
              JELLYFIN_DATA_DIR: /var/lib/jellyfin
              JELLYFIN_LOG_DIR: /var/lib/jellyfin/log
              JELLYFIN_CONFIG_DIR: /var/lib/jellyfin/config
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /
                    port: &port 8096
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  timeoutSeconds: 3
                  failureThreshold: 5
              readiness: *probes
#              startup:
#                enabled: true
#                spec:
#                  failureThreshold: 30
#                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 100m
              limits:
                gpu.intel.com/i915: 1
#          jellysearch:
#            image:
#              repository: domistyle/jellysearch
#              tag: latest
#            env:
#              INDEX_CRON: "0 0 0/2 ? * * *"
#              JELLYFIN_URL: "https://jelly.${SECRET_DOMAIN}"
#              MEILI_URL: "http://meilisearch.utilities:7700"
#            envFrom:
#              - secretRef:
#                  name: meili-master-key
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 101000
        runAsGroup: 101000
        supplementalGroups:
          - 1000
        fsGroup: 101000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
#      jellysearch:
#        ports:
#          http:
#            port: 5000
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        advancedMounts:
          jellyfin:
            app:
              - path: /var/lib/jellyfin
            jellysearch:
              - path: /config
                readOnly: true
      trickplay:
        type: nfs
        server: "${LAN_TRUENAS_IP}"
        path: /mnt/fast/storage/trickplay
        globalMounts:
          - path: /var/lib/jellyfin/data/trickplay
      config-cache:
        existingClaim: "{{ .Release.Name }}-cache"
        globalMounts:
          - path: /config/metadata
      media:
        type: nfs
        server: "${LAN_TRUENAS_IP}"
        path: /mnt/MAIN/media/
        globalMounts:
          - path: /mnt/general/
      music:
        type: nfs
        server: "${LAN_TRUENAS_IP}"
        path: /mnt/MAIN/miscellaneous/music
        globalMounts:
          - path: /mnt/general/music
      anne:
        type: nfs
        server: "10.0.20.10"
        path: /mnt/main/medialibrary/
        globalMounts:
          - path: /mnt/anne
            readOnly: true
      tmpfs:
        type: emptyDir
        advancedMounts:
          jellyfin:
            app:
              - path: /cache
                subPath: cache
              - path: /config/log
                subPath: log
              - path: /tmp
                subPath: tmp
              - path: /transcode
                subPath: transcode
