---
# yaml-language-server: $schema=https://kubernetes-schemas.zinn.ca/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
  namespace: security
spec:
  interval: 30m
  chart:
    spec:
      chart: authentik
      version: 2025.12.0
      sourceRef:
        kind: HelmRepository
        name: authentik
        namespace: flux-system
      interval: 5m
  values:
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      envFrom:
        - secretRef:
            name: *secret
      volumes:
        - name: authentik
    authentik:
      redis:
        host: ${DRAGONFLY_HOST}
        db: ${REDIS_AUTHENTIK_DB}
    server:
      replicas: 2
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
      route:
        main:
          annotations:
            gatus.home-operations.com/endpoint: |-
              name: Authentik
              group: external
          enabled: true
          parentRefs:
            - name: external
              namespace: network
              sectionName: https
          hostnames:
            - "sso.${SECRET_DOMAIN}"
          https: false
    prometheus:
      rules:
        enabled: true
