---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/k8s.mariadb.com/mariadb_v1alpha1.json
apiVersion: k8s.mariadb.com/v1alpha1
kind: MariaDB
metadata:
  name: mariadb-cluster
spec:
  rootPasswordSecretKeyRef:
    name: mariadb-cluster-secret
    key: mariadb-root-password
  image: mariadb:12.2
  port: 3306
  replicas: 3
  replication:
    enabled: true
  storage:
    size: 8Gi
    storageClassName: local-hostpath
  myCnf: |
    [mariadb]
    bind-address=*
    default_storage_engine=InnoDB
    binlog_format=row
    innodb_autoinc_lock_mode=2
    innodb_buffer_pool_size=256M
    max_allowed_packet=256M
    character-set-server=utf8mb4
    collation-server=utf8mb4_unicode_ci

    [client]
    default-character-set=utf8mb4
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      memory: 1Gi
  metrics:
    enabled: true
  podMetadata:
    annotations:
      reloader.stakater.com/auto: "true"
  updateStrategy:
    type: ReplicasFirstPrimaryLast
#  bootstrapFrom:
#    s3:
#      bucket: s3://postgres-cloudnative.mizuto.backup/
#      endpoint: https://s3.eu-central-1.wasabisys.com
#      accessKeyIdSecretKeyRef:
#        name: mariadb-backup-secret
#        key: wasabi-id
#      secretAccessKeySecretKeyRef:
#        name: mariadb-backup-secret
#        key: wasabi-key
#    backupContentType: Physical
#    stagingStorage:
#      persistentVolumeClaim:
#        storageClassName: local-hostpath
#        resources:
#          requests:
#            storage: 5Gi
#        accessModes:
#          - ReadWriteOnce
