# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: kubernetes

talosVersion: "${talosVersion}"
kubernetesVersion: "${kubernetesVersion}"

endpoint: https://10.0.2.100:6443
additionalApiServerCertSans: &sans
  - "127.0.0.1"
  - "10.0.2.100"
additionalMachineCertSans: *sans

clusterPodNets:
  - "10.42.0.0/16"
clusterSvcNets:
  - "10.43.0.0/16"

# Disable built-in CNI to use Cilium
cniConfig:
  name: none

nodes:
  - &piNode
    hostname: "mizu-10"
    ipAddress: "10.0.2.10"
    installDisk: "/dev/nvme0n1"
    controlPlane: true
    nodeLabels:
      nodeType: "pi"
    machineSpec:
      secureboot: false
      arch: "arm64"
      mode: "metal"
    schematic:
      overlay:
        image: siderolabs/sbc-raspberrypi
        name: rpi_generic
      customization:
        extraKernelArgs:
          - -init_on_alloc # Less security, faster puter
          - -init_on_free # Less security, faster puter
          - -selinux # Less security, faster puter
          - apparmor=0 # Less security, faster puter
          - init_on_alloc=0 # Less security, faster puter
          - init_on_free=0 # Less security, faster puter
          - mitigations=off # Less security, faster puter
          - security=none # Less security, faster puter
          - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU & Intel iGPU
          - talos.auditd.disabled=1 # Less security, faster puter
          - cpufreq.default_governor=performance # Default is powersave
          - iommu.passthrough=1 # Less security, faster puter
        systemExtensions:
          officialExtensions:
            - siderolabs/nfsd
            - siderolabs/nfsrahead
            - siderolabs/util-linux-tools
            - siderolabs/nvme-cli
    volumes:
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.transport == 'nvme'
          minSize: 2GB
          maxSize: 75GB
          grow: false
    userVolumes:
      - name: openebs-data
        provisioning: &ebsVolume
          diskSelector:
            match: disk.transport == 'nvme'
          minSize: 10GiB
          maxSize: 100GiB
        filesystem:
          type: xfs
    networkInterfaces:
      - &piInterface
        deviceSelector:
          hardwareAddr: "e4:5f:01:e5:ed:8c"
        dhcp: false
        addresses:
          - "10.0.2.10/23"
        routes: &routes
          - network: "0.0.0.0/0"
            gateway: "10.0.2.1"
#        mtu: 9000
        vip:
          ip: "10.0.2.100"
  - <<: *piNode
    hostname: "mizu-11"
    ipAddress: "10.0.2.11"
    networkInterfaces:
      - <<: *piInterface
        deviceSelector:
          hardwareAddr: "e4:5f:01:e5:ec:e1"
        addresses:
          - "10.0.2.11/23"
  - <<: *piNode
    hostname: "mizu-12"
    ipAddress: "10.0.2.12"
    networkInterfaces:
      - <<: *piInterface
        deviceSelector:
          hardwareAddr: "e4:5f:01:e5:ec:4f"
        addresses:
          - "10.0.2.12/23"
  - <<: *piNode
    hostname: "mizu-13"
    ipAddress: "10.0.2.13"
    networkInterfaces:
      - <<: *piInterface
        deviceSelector:
          hardwareAddr: "e4:5f:01:e5:ed:96"
        addresses:
          - "10.0.2.13/23"
  - &intelNode
    hostname: "mizu-20"
    ipAddress: "10.0.2.20"
    installDisk: "/dev/sda"
    controlPlane: false
    nodeLabels:
      nodeType: "worker"
    machineSpec:
      secureboot: false
      arch: "amd64"
      mode: "metal"
    schematic:
      customization:
        extraKernelArgs:
          - -init_on_alloc # Less security, faster puter
          - -init_on_free # Less security, faster puter
          - -selinux # Less security, faster puter
          - apparmor=0 # Less security, faster puter
          - i915.enable_guc=3 # Meteor Lake CPU & Intel iGPU
          - init_on_alloc=0 # Less security, faster puter
          - init_on_free=0 # Less security, faster puter
          - intel_iommu=on # PCI Passthrough
          - iommu=pt # PCI Passthrough
          - mitigations=off # Less security, faster puter
          - security=none # Less security, faster puter
          - sysctl.kernel.kexec_load_disabled=1 # Meteor Lake CPU & Intel iGPU
          - talos.auditd.disabled=1 # Less security, faster puter
          - cpufreq.default_governor=performance # Default is powersave
          - iommu.passthrough=1 # Less security, faster puter
        systemExtensions:
          officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/nfsd
            - siderolabs/nfsrahead
            - siderolabs/util-linux-tools
            - siderolabs/nvme-cli
            - siderolabs/iscsi-tools
    userVolumes:
      - name: openebs-data
        provisioning: *ebsVolume
#      - name: longhorn-data
#        provisioning:
#          diskSelector:
#            match: disk.transport == 'nvme'
#          minSize: 300GiB
#          maxSize: 600GiB
    networkInterfaces:
      - &intelInterface
        deviceSelector:
          hardwareAddr: "c0:25:a5:d0:8e:c0"
        dhcp: false
        addresses:
          - "10.0.2.20/23"
        routes: *routes
#        mtu: 9000
  - <<: *intelNode
    hostname: "mizu-21"
    ipAddress: "10.0.2.21"
    networkInterfaces:
      - <<: *intelInterface
        deviceSelector:
          hardwareAddr: "c8:5a:cf:c1:31:2b"
        addresses:
          - "10.0.2.21/23"
  - <<: *intelNode
    hostname: "mizu-22"
    ipAddress: "10.0.2.22"
    networkInterfaces:
      - <<: *intelInterface
        deviceSelector:
          hardwareAddr: "8c:04:ba:9d:41:19"
        addresses:
          - "10.0.2.22/23"

# Global patches
patches:
  - "@./patches/global/machine-files.yaml"
  - "@./patches/global/machine-kubelet.yaml"
  - "@./patches/global/machine-network.yaml"
  - "@./patches/global/machine-sysctls.yaml"
  - "@./patches/global/machine-time.yaml"

# Controller patches
controlPlane:
  patches:
    - "@./patches/controller/cluster.yaml"

worker:
  patches:
    - "@./patches/worker/longhorn-partition.yaml"
    - "@./patches/global/machine-hugepages.yaml"
