---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: outline
  namespace: utilities
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      outline:
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        replicas: 1
        containers:
          app:
            image:
              repository: outlinewiki/outline
              tag: 1.5.0
            env:
              URL: "https://wiki.${SECRET_DOMAIN}"
              PORT: &outline-port 3000
              WEB_CONCURRENCY: 1
              REDIS_URL: "ioredis://ewogICJzZW50aW5lbHMiOiBbCiAgICB7CiAgICAgICJob3N0IjogInJlZGlzLW5vZGUtMC5yZWRpcy1oZWFkbGVzcy5kYXRhYmFzZS5zdmMuY2x1c3Rlci5sb2NhbCIsCiAgICAgICJwb3J0IjogMjYzNzkKICAgIH0sCiAgICB7CiAgICAgICJob3N0IjogInJlZGlzLW5vZGUtMS5yZWRpcy1oZWFkbGVzcy5kYXRhYmFzZS5zdmMuY2x1c3Rlci5sb2NhbCIsCiAgICAgICJwb3J0IjogMjYzNzkKICAgIH0sCiAgICB7CiAgICAgICJob3N0IjogInJlZGlzLW5vZGUtMi5yZWRpcy1oZWFkbGVzcy5kYXRhYmFzZS5zdmMuY2x1c3Rlci5sb2NhbCIsCiAgICAgICJwb3J0IjogMjYzNzkKICAgIH0KICBdLAogICJkYiI6IDMsCiAgIm5hbWUiOiAicmVkaXMtbWFzdGVyIgp9"
              FILE_STORAGE: "local"
              ENABLE_UPDATES: false
            envFrom:
              - secretRef:
                  name: outline
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 500m
                memory: 500m
              limits:
                cpu: 4
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      outline:
        controller: outline
        ports:
          http:
            port: *outline-port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            name: Outline
             group: external
        hostnames:
          - "wiki.${SECRET_DOMAIN}"
        parentRefs:
          - name: external-direct
            namespace: network
            sectionName: https
    persistence:
      cache:
        existingClaim: outline
        advancedMounts:
          outline:
            app:
              - path: /var/lib/outline/data
      tmp:
        type: emptyDir
