---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 15m
  chart:
    spec:
      chart: longhorn
      version: "1.10.1"
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  # https://github.com/longhorn/longhorn/blob/master/chart/values.yaml
  values:
    persistence:
      defaultDataLocality: best-effort
      reclaimPolicy: Retain
    defaultSettings:
      dataEngine: v2
      v1DataEngine: false
      v2DataEngine: true
      allowRecurringJobWhileVolumeDetached: true
      orphanResourceAutoDeletion: "replicaData;replicaInstance;engineInstance"
      backupTarget: "s3://longhorn.mizuto.backup@eu-central-1/"
    metrics:
      serviceMonitor:
        enabled: true
    ingress:
      enabled: false
    defaultBackupStore:
      backupTarget: "s3://longhorn.mizuto.backup@eu-central-1/"
      backupTargetCredentialSecret: longhorn-wasabi-access
      pollInterval: 300
