---
name: Template sync
on:
  schedule:
    - cron: "0 0 1 * *"
  # Manual trigger
  workflow_dispatch:
jobs:
  template-sync:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      actions: write
      pull-requests: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          token: "${{ secrets.TEMPLATE_SYNC_PAT }}"
      - name: actions-template-sync
        uses: AndreasAugustin/actions-template-sync@8ec19a5f2721ffb81ff809aa340ddf75e6a85ea6 # v2
        with:
          source_repo_path: "onedr0p/cluster-template"
          upstream_branch: main
          pr_labels: chore
          target_gh_token: "${{ secrets.TEMPLATE_SYNC_PAT }}"
